<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  添加需要被容器管理的内容-->
    <bean class="com.ldp.pojo.UserBean" id="userBean" name="userBean2"/>
    <bean class="com.ldp.pojo.UserBean" id="user1,user2,user3" name="u1 u2 u3"/>

    <bean class="com.ldp.pojo.UserBean" id="userBean1" name="ub1" primary="true"/>
</beans>